export PATH="bin:/home/lago/.rvm/gems/ruby-2.4.1/bin:/home/lago/.rvm/gems/ruby-2.4.1@global/bin:/home/lago/.rvm/rubies/ruby-2.4.1/bin:/home/lago/.rvm/bin:~/gocode/bin:/home/lago/liquibase-3.4.2-bin:/home/lago/spring-boot-cli/bin:/usr/local/heroku/bin:/home/lago/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/home/lago/jdk8/bin:/home/lago/mvn/bin:~/ant/bin:/home/lago/elixir/bin:/home/lago/activator/bin:~/sbt/bin:/home/lago/gradle/bin"
